<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Agriculture</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Agriculture">Agriculture</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="bg"
  style="background-image: url('Images/Agriculture.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center;">
 </div>

  <main>
    <div class="container-fluid">
       <div class="row">

       	<div class="col-12 col-sm-8 orders-md-1">
       		
       		<div class="container-fluid" style="padding-top: 50px;font-family: helvetica">
       			<p>Agriculture, with its allied sectors, is unquestionably the large livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution, a yellow revolution and a blue revolution.Nowadays Government of India is giving more priority for the welfare of farmers. In this regard it is implementing several farmers welfare schemes to re-vitalize agriculture sector and to improve their economic conditions.  Therefore, the government has rolled out new initiatives, schemes, programmes and plans to benefit all the farmers.  These agriculture schemes or programmes are very helpful for the farmers and he or she must know about it so as to take its benefit.
              </p>
         </div>
       		
       	</div>
       	<div class="col-12 col-sm-4 pt-3 order-md-2" id="col1">
       		<h5 style="text-align:center;">News Highlights</h5>
       		<div class="container-fluid" id="ct1">
       			<ul>
       				<li>Farm wages doubled in many agricultural districts as migrants labourers returned home due covid pandemic.
       				</li>
                    <li>Govt to give credit card to 15 million dairy farmers.
                    </li>
                    <li>The government allocated 2.83 lakh crore rupees for agriculture and allied activities, irrigation and rural development in 2020-21 budget.</li>
       			</ul>
         </div>
       		
       	</div>

       	

       </div>
       
    </main>
      

 
 
      
       <footer class="page-footer font-small">


     <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  
 
       </footer>  
        
      

    

		
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<!-- Footer -->
</html>
