<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Education</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Education">Education</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="bg"
 style="background-image: url('Images/Education.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center;"></div>

  <main>
    <div class="container-fluid">
       <div class="row">

       	<div class="col-12 col-sm-8 orders-md-1">
       		
       		<div class="container-fluid" style="padding-top: 50px;font-family: helvetica">
       			<p>The Education policy is the most important thing of all that the government of India takes consideration. There are several new policies introduced to promote the aggregation of the education policies. Not only is that, but the Government of India also improvising the existing policies to make it feasible for the modern education era.The Government has also proposed a scheme for offering scholarships to the students with good merit. The government believes that the students will get the motivation and will work harder to improve their efforts for learning. The scholarships are given to the students who cannot afford their own education but are enthusiastic about studies. It will help them get funding for school, study materials, and others.The government has proposed free education in all government education sectors in various states of India. In some states, this idea is still to be implemented for ensuring quality education for all the students of the society. Free education is proposed for families who cannot afford school funding for their children. Proper education will help those kids to grow up to be a better person rather than ending up being illiterate.   
              </p>
         </div>
       		
       	</div>
       	<div class="col-12 col-sm-4 pt-3 order-md-2" id="col1">
       		<h5 style="text-align:center;">News Highlights</h5>
       		<div class="container-fluid" id="ct1">
       			<ul>
       				<li>The government allocated Rs 99,300 crore for education sector in 2020-21 and about Rs 3,000 crores for skill development.
       				</li>
                    <li>Urban local bodies across the country would provide internship opportunities to fresh engineers for a period up to one year.
                    </li>
                    <li>The Budget proposes to start degree level full-fledged online education programme. This shall be offered only by institutions who are ranked within top 100 in the National Institutional Ranking framework.
                    </li>
       			</ul>
         </div>
       		
       	</div>

       	

       </div>
       
    </main>
      

 
 
      
       <footer class="page-footer font-small">


     <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  
 
       </footer>  
        
      

    

		
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<!-- Footer -->
</html>