<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Energy</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Energy">Energy</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="bg" style="background-image: url('Images/Energy.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center;"></div>

  <main>
    <div class="container-fluid">
       <div class="row">

       	<div class="col-12 col-sm-8 orders-md-1">
       		
       		<div class="container-fluid" style="padding-top: 50px;font-family: helvetica">
       			<p>The primary energy demand in India has grown from about 450 million tons of oil equivalent (toe) in 2000 to about 770 million toe in 2012. This is expected to increase to about 1250 (estimated by International Energy Agency) to 1500 (estimated in the Integrated Energy Policy Report) million toe in 2030. This increase is driven by a number of factors, the most important of which are increasing incomes and economic growth which lead to greater demand for energy services such as lighting, cooking, space cooling, mobility, industrial production, office automation, etc. Government of India has undertaken a two pronged approach to cater to the energy demand of its citizens while ensuring minimum growth in CO2 emissions, so that the global emissions do not lead to an irreversible damage to the earth system. On one hand, in the generation side, the Government is promoting greater use of renewable in the energy mix mainly through solar and wind and at the same time shifting towards supercritical technologies for coal based power plants.Thus Government of india makes various schemes for using renewable energy for power production,

              </p>
         </div>
       		
       	</div>
       	<div class="col-12 col-sm-4 pt-3 order-md-2" id="col1">
       		<h5 style="text-align:center;">News Highlights</h5>
       		<div class="container-fluid" id="ct1">
       			<ul>
       				<li>1,600-MW Jharkhand project delayed due to lockdown: Adani Power
       				</li>
                    <li>Lakhs of power sector workers protest against Electricity Amendment Bill 2020: AIPEF
                    </li>
                    <li>LPG cylinder rates has been hiked from today all over India
                       The increase in LPG price comes amid a hike in international rates and the reopening of the economy from today under 'Unlock 1'
                    </li>
       			</ul>
         </div>
       		
       	</div>

       	

       </div>
       
    </main>
      

 
 
      
       <footer class="page-footer font-small">


     <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  
 
       </footer>  
        
      

    

		
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<!-- Footer -->
</html>