<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Education.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Free Hostel Scheme</h3>
     <h5>Government of Tamilnadu</h5>
     <p>The Free Hostel Scheme is started by Tamilnadu goverment for the student who belong to backward classes,most backward clsses and denotified ommunities.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>The benefit of the scheme is those students belongs to economiclly weaker sections and backward classes provide them better residence facility so that they must be able to pursue education.They also provide following benefits to students:</p>
    <ul>
        <li>Free boarding and lodging facilities.</li>
        <li>Special guides provided for students.</li>
        <li>Free textbooks to students.</li>
        <li>Separte hostel will be for boys and girls.</li>
   
      </ul>  
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>Take the Application Form from warden of the respective goverment hostels.</li>
     <li>Fill up the form and attach required documents.</li>
     <li>submit the form at hostel.</li>
     <li>Resubmit form to the District Backward Classes and Minoritites Welfare Officers.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Caste Certificate</li>
     <li>Caste Validity</li>
     <li>Income Certificate stating inome upto Rs 50000 per anum.</li>
     <li>Aadhar card</li>
     <li>Residence proof</li>
     <li>Identity proof</li>
     <li>Ration card</li>
     <li>Bonafide Certificate</li>
     <li>Certificate that stating candidate belongs to miority community.</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>