<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Health</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="bg" style="background-image: url('Images/Health.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center;"></div>

  <main>
    <div class="container-fluid">
       <div class="row">

       	<div class="col-12 col-sm-8 orders-md-1">
       		
       		<div class="container-fluid" style="padding-top: 50px;font-family: helvetica">
       			<p>Health care should be within the reach of every citizen.Governments all over the world work towards providing good quality healthcare for their people. Creating awareness about health issues, ensuring strong infrastructure, and promoting health insurance are productive activities conducted by the authorities for people’s welfare. The Indian Government also undertakes such measures from time-to-time. For providing basic health facilities to all citizens, government has introduced and implemented various health schemes and programmes. This section provides information pertaining to health programmes, policies, schemes, forms etc. for specific beneficiaries which include women, children, senior citizen, etc. Details of Union and state government agencies, departments, organisations, research institutions, hospitals are also available.

              </p>
         </div>
       		
       	</div>
       	<div class="col-12 col-sm-4 pt-3 order-md-2" id="col1">
       		<h5 style="text-align:center;">News Highlights</h5>
       		<div class="container-fluid" id="ct1">
       			<ul>
       				<li>The FM announced an allocation of Rs 69,000 crore for the healthcare sector in the 2020-21 Union Budget, slightly up from last year.
       				</li>
                    <li>India Now 7th Worst-Hit Nation By COVID-19.The total cases in the country stood at 1,90,535 including 5,394 deaths, according to data from the Union Health Ministry.
                    </li>
                    <li>COVID-19 cases to peak in India in mid-July if lockdown lifted this month-end: Epidemiologist
                    </li>
       			</ul>
         </div>
       		
       	</div>

       	

       </div>
       
    </main>
      

 
 
      
       <footer class="page-footer font-small">


     <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  
 
       </footer>  
        
      

    

		
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

<!-- Footer -->
</html>