<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">


      <a class="navbar-brand" style="font-family:Arial, Helvetica, sans-serif;font-weight:bolder;"
        >
        GovtSchemes.in
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>


        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        &nbsp;
          <li class="nav-item">
            <a class="btn btn-success btn-sm" onclick="openForm()"> Admin</a>

            <div class="form-popup" id="myForm">
              <form action="/api/register/admin" class="form-container" method="POST">
                <h1>Login</h1>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="password" required>

                <button type="submit" class="btn">Login</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
              </form>
            </div>
          </li>
        </ul>

      </div>
  </nav>
  <div class="view"
    style="background-image: url('Images/homepage.jpg'); background-repeat: no-repeat; background-size: cover;background-position: center;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


      <div class="text-center white-text mx-5 wow fadeIn" style="padding-top: 130px;">
        <h1 class="mb-4" style="color: white">
          <strong>Be Tuned With Us!</strong>
        </h1>

        <p style="color: white">
          <strong>Get Regular Updates of Government Schemes made for you</strong>
        </p>

        <p class="mb-4 d-none d-md-block" style="color: white">
          <strong>The most informative web portal for indian citizens to get familiar with government schemes made for
            him on the basis of personal criteria and how to apply for them.</strong>
        </p>

        <a href="signup" class="btn btn-success btn-lg"><strong>Sign up</strong>

        </a>
      </div>


    </div>


  </div>


  <main>
    <div class="container">

      <section style="padding-top: 30px;padding-bottom: 40px">

        <h3 class="h3 text-center mb-5"><strong>About Us</strong></h3 />

        <p>
          There are lots of government policies or schemes for upliftment of poor and needy people. most unfortunately
          these do not reach to the peoples due to lack of means which gives information about the government schemes to
          them and most of the schemes go into the dustbin just because the officials who implement the schemes could
          not make them available to suitable people. An information drought occurs despite the government’s best
          efforts in creating awareness through radio, TV, print or online media. Unfortunately, these communication
          efforts often do not reach rural areas due to the illiterate Indian citizen, living in rural locations, with
          limited means. With 65% of Indians residing in rural areas, we need to look at and deal with the problems
          facing by them. This web portal will be used to send notification about newly updated & eligible government
          schemes in the field of Education, health, agriculture etc. and also helpful to give detailed information
          about various schemes to them.
        </p>


      </section>
    </div>



    <footer class="page-footer font-small">


      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
        <a href="#"> GovtSchemes.in</a>
      </div>


    </footer>







<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
    <script src="Javascripts/home.js"></script>
</body>


</html>