<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Health.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Janani Suraksha Yojana</h3>
     <h5>Ministry of Health and Family Welfare</h5>
     <p>Janani Suraksha Yojana was launched in April 2005 by modifying the National Maternity Benefit Scheme (NMBS). Janani Suraksha Yojana (JSY) is a safe motherhood intervention under the National Rural Health Mission (NHM). It is being implemented with the objective of reducing maternal and infant mortality by promoting institutional delivery among pregnant women. The scheme is under implementation in all states and Union Territories (UTs), with a special focus on Low Performing States (LPS).</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>Janani Suraksha Yojana (JSY) is a safe motherhood intervention under the National Rural Health Mission (NHM). It is being implemented with the objective of reducing maternal and infant mortality by promoting institutional delivery among pregnant women.In order to reduce the maternal and infant mortality, Reproductive and Child Health Programme under the National Health Mission (NHM) is being implemented to promote institutional deliveries so that skilled attendance at birth is available and women and new born can be saved from pregnancy related deaths.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>visit the official website Ministry of Health and Family Welfare,Goverment of india.</li>
     <li>Download the application form.</li>
     <li>Fill up the all information in application form.</li>
     <li>Aattched the required documents.</li>
     <li>Submit the form to neartest health centre.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Aadhar card – For enrolling under the scheme, the women will have to provide their identification proof and residential proof. These two requirements can be met by providing a copy of the Aadhar card. Now, the production of the Aadhar card has been made mandatory for all government programs.</li>
     <li>BPL card – As the scheme has been designed for assisting the poor and backward classes, candidates who have the BPL card will stand a better chance of getting the facilities. Though BPL card is not mandatory, some income certificate must be produced.</li>
     <li>JYS card – To acquire all the medical and monetary facilities, the production of the JYS card is a must. The card will be provided by the ASHA or Anganwadi workers, post registration.</li>
     
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>