<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Social_welfare.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Awas Yojana</h3>
     <h5>Ministry of Housing and Urban Affairs</h5>
     <p>Pradhan Mantri Awas Yojana (PMAY) is an initiative by Government of India in which affordable housing will be provided to the urban poor with a target of building 20 million affordable houses by 31 March 2022. It has two components:1) Pradhan Mantri Awas Yojana (Urban) (PMAY-U) for the urban poor.2) Pradhan Mantri Awaas Yojana (Gramin) (PMAY-G and also PMAY-R) for the rural poor.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <ul>
      <li>Large subsidy for every citizen:The biggest benefit of PMAY scheme is the subsidy offered by the government on new house purchases. However, to avail your subsidy you or anyone in your home cannot already be a homeowner. The government offers a credit linked subsidy depending on your income, ranging from EWS/LIG to MIG 1 & MIG 2.</li>
      <li>Housing for all strata of the society:Under the PMAY scheme, the government seeks to construct 2 crore affordable houses in prominent urban areas for those who are eligible to avail the scheme. The construction of these homes has already begun in states such as Maharashtra, West Bengal, Tamil Nadu, etc. Through these houses, the government will be able to uplift the standard of living for many.</li>
      <li>Housing development in every corner of the country:The PMAY scheme is not restricted only to the urban areas; equal importance is also being given to the rural development of low- and middle-income groups. In rural areas, apart from raising the standard of living for low-income group individuals, the schemes undertaken by Pradhan Mantri Awas Yojana guarantee development in the rural real estate sector and associated industries.</li>
      
 
    </ul> 
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>Beneficiaries can apply for PMAY through the online and offline ways:</li>
     <li>Individuals can visit the official website of the scheme to apply online.</li>
     <li>They need to have a valid Aadhaar Card to apply.</li>
     <li>Download the appliction form and fill it.</li>
     <li>Beneficiaries can apply for the scheme offline by filling up a form available through Common Service Centre (CSC). Price of these forms is Rs. 25 + GST.</li>
     <li>submit the form.</li>
     <li>Those eligible for the scheme can check their name in the Pradhan Mantri Awas Yojana list by following these few steps:
      Step 1: Visit the official website.
      Step 2: Click “Search Beneficiary”.
      Step 3: Enter the Aadhaar number.
      Step 4: Click “Show”.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Identity Proof(Aadhar Card,Pan Card)</li>
     <li>Address Proof Any one of the below documents:1)Voter Card 2) Aadhar Card 3) Valid Passport</li>
     <li>Proof of income</li>
     <li>Documents related to running loans along with 6 months repayment bank statements.</li>
     <li>Property Documents</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>