<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Social_welfare.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Jan Dhan Yojana</h3>
     <h5>Ministry of Finance,</h5>
     <p>Pradhan Mantri Jan Dhan Yojana (PMJDY), is financial inclusion program of Government of India open to Indian citizen (minor of age more than 10 can also open account with guardian to manage it) , that aims to expand and make affordable access to financial services such as bank accounts, remittances, credit, insurance and pensions. This financial inclusion campaign was launched by the Prime Minister of India Narendra Modi on 28 August 2014. He had announced this scheme on his first Independence Day speech on 15 August 2014.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <ul>
      <li>Interest on deposit.</li>
      <li>Accidental insurance cover of Rs. 2 lakhs</li>
      <li>No minimum balance required.</li>
      <li>The scheme provide life cover of Rs. 30,000/- payable on death of the beneficiary, subject to fulfillment of the eligibility condition.</li>
      <li>Easy Transfer of money across India</li>
      <li>Beneficiaries of Government Schemes will get Direct Benefit Transfer in these accounts.</li>
      <li>After satisfactory operation of the account for 6 months, an overdraft facility will be permitted</li>
      <li>Access to Pension, insurance products.</li>
      <li>The Claim under Personal Accidental Insurance under PMJDY shall be payable if the Rupay Card holder have performed minimum one successful financial or non-financial customer induced transaction at any Bank Branch, Bank Mitra, ATM, POS, E-COM etc. Channel both Intra and Inter-bank i.e. on-us (Bank Customer/rupay card holder transacting at same Bank channels) and off-us (Bank Customer/Rupay card holder transacting at other Bank Channels) within 90 days prior to date of accident including accident date will be included as eligible transactions under the Rupay Insurance Program 2019-2020.</li>
      <li>Overdraft facility upto Rs. 10,000/- is available in only one account per household, preferably lady of the household.</li>
  </ul>  
     
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>Visit the homepage of Pradhan Mantri Jan Dhan Yojana portal</li>
     <li>Fill up the application form.</li>
     <li>download the application form for Pradhan Mantri Jan Dhan Yojana from the scheme’s official website.</li>
     <li>submit it at the local bank branch.</li>
     <li>You will also have to provide some documents along with the form to avail this scheme.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>passport.</li>
     <li>driving licence.</li>
     <li>Permanent Account Number (PAN) Card.</li>
     <li>Voter’s Identity Card issued by Election Commission of India.</li>
     <li>job card issued by NREGA duly signed by an officer of the State Government.</li>
     <li>the letter issued by the Unique Identification Authority of India containing details of name, address and Aadhaar number.</li>
     <li>any other document as notified by the Central Government in consultation with the Regulator:Provided that where simplified measures are applied for verifying the identity of the clients the following documents shall be deemed to be officially valid documents:a) identity card with applicant's Photograph issued by Central/State Government, Departments, Statutory/Regulatory Authorities, Public Sector Undertakings, Scheduled Commercial Banks, and Public Financial Institutions.b) letter issued by a Gazetted officer, with a duly attested photograph of the person.</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>