<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Social_welfare.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Jeevan Jyoti Bima Yojana</h3>
     <h5>Government of India</h5>
     <p>Pradhan Mantri Jeevan Jyoti Bima Yojana is a government-backed Life insurance scheme in India. It was originally mentioned in the 2015 Budget speech by Finance Minister Sri Arun Jaitley in February 2015.It was formally launched by Prime Minister Narendra Modi on 9 May in Kolkata.As of May 2015, only 20% of India's population has any kind of insurance, this scheme aims to increase the number.Pradhan Mantri Jeevan Jyoti Bima Yojana is available to people between 18 and 50 years of age with bank accounts. It has an annual premium of ₹330 (US$4.60). The GST is exempted on Pradhan Mantri Jeevan Jyoti Bima Yojana. The amount will be automatically debited from the account. In case of death due to any cause, the payment to the nominee will be ₹2 lakh (US$2,800).This scheme will be linked also to the bank accounts opened under the Pradhan Mantri Jan Dhan Yojana scheme. Most of these account had zero balance initially. The government aims to reduce the number of such zero balance accounts by using this and related schemes.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>Tax Benefit- The premium paid towards the policy is eligible for tax deduction under section 80C of Income Tax Act. In case the insurance holder fails to submit form 15 G/15 H then any life insurance proceeds exceeding Rs. 1,00,000 will be taxable by 2%. Risk Coverage- PMJJBY provides a risk coverage of 1 year.The payment of premium will be directly auto-debited by the bank from the subscribers account.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>Visit the Pradhan Mantri Jeevan Jyoti Bima Yojana portal.</li>
     <li>Users can download this subscriber registration form to apply for the Pradhan Mantri Jeevan Jyoti Bima Yojana.</li>
     <li>Fill up the form with details such as your name, saving bank account number, email Id, address, etc. to apply for this scheme.</li>
     <li>submit the form.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Claim Form duly completed</li>
     <li>Death certificate</li>
     <li>Discharge Receipt</li>
     <li>Photocopy of cancelled cheque of the Nominee (if available).</li>
     <li>Bank passbook</li>
     <li>Aadhar card</li>
     <li>Residential proof</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>