<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Energy.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Ji-VAN yojana</h3>
     <h5>Ministry of Petroleum & Natural Gas</h5>
     <p>Pradhan Mantri JI-VAN (Jaiv Indhan- Vatavaran Anukool fasal awashesh Nivaran) Yojana aims to provide financial support to Integrated Bioethanol Projects using lignocellulosic biomass and other renewable feedstock.Centre for High Technology (CHT), a technical body under the aegis of Ministry of Petroleum and Natural Gas (MoP&NG), will be the implementation Agency for the scheme.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <ul>
      <li>This scheme is promoting Second Generation (2G) Biofuels Technology moving away from food crops used in First Generation(1G) to feedstocks, nonfood crops agricultural residues or waste.</li>
      <li>Making progressive Blending/Substitution of fossil fuels for achieving Green House Gas emission reduction targets.</li>
      <li>Stopping burning of biomass/ crop residues & improve the health of citizens and improving farmer income.</li>
      <li>Creating Employment opportunities in 2G Ethanol projects and Biomass supply chain.</li>
      <li>Contributing towards Swacch Bharat Mission by disposing of nonfood biofuel feedstocks such as waste biomass and urban waste</li>
      <li>Development of Second Generation Biomass to Ethanol technologies in the country by promoting Research & Development.</li>
      
 
    </ul>  
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>visit Pradhan Mantri JI-VAN Yojana portal.</li>
     <li>Fill the regisration form by creating login id and password.</li>
     <li>login on potral and apply the scheme.</li>
     <li>Fill up the registration form.</li>
     <li>Submit it.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Detailed feasibility report, representing the cost for various aspects of the project.</li>
     <li>Biomass and water assessment report.</li>
     <li>Supply chain and logistics report.</li>
     <li>Biomass assessment report.</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>