<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Social_welfare.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Mudra Yojana</h3>
     <h5>Micro Units Development and Refinance Agency Bank</h5>
     <p>Pradhan Mantri Mudra Yojana (PMMY) is a flagship scheme of Government of India to “fund the unfunded” by bringing such enterprises to the formal financial system and extending affordable credit to them. It enables a small borrower to borrow from all Public Sector Banks such as PSU Banks, Regional Rural Banks and Cooperative Banks, Private Sector Banks, Foreign Banks, Micro Finance Institutions (MFI) and Non Banking Finance Companies (NBFC) for loans upto Rs 10 lakhs for non-farm income generating activities. The scheme was launched on 8th April, 2015 by the Hon'ble Prime Minister.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>This scheme will provide all banking services such as savings accounts, loans, credit cards and some other special benefits to deserving beneficiaries. The authorized capital of MUDRA at present is Rs.1000 crores and paid up capital is Rs.750 crore, fully subscribed by SIDBI. More capital is expected to enhance the functioning of MUDRA.Micro Finance is an economic development tool that seeks to provide people at the bottom of the pyramid with income-generating opportunities. This covers a range of programs that include many other credit plus services, financial literacy, and other social support services in addition to providing credit.SIDBI would be responsible for developing and refinancing all sectors of micro-enterprises by supporting financial institutions engaged in lending to micro/small businesses engaged in manufacturing, trading and service activities. MUDRA will partner with banks, MFIs and other government/regional lending institutions to provide microfinance funding to the country's micro-enterprise sector.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>The applicant prepares a business proposal.</li>
     <li>Select the category (Shishu, Kishor, Tarun) under which he wants to apply.</li>
     <li>Visit a private or public bank where you can apply for a Mudra loan.</li>
     <li>Submit a completed loan application form together with recent passport size photographs, identity proof and proof of address.</li>
     <li>Complete any other formalities required by the bank.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Proof of identity – Self attested copy of Voter’s ID Card / Driving Licence / PAN Card / Aaadhaar Card / Passport / Photo Ids issued by Govt. authority etc.</li>
     <li>Proof of Residence : Recent telephone bill / electricity bill / property tax receipt (not older than 2 months) / Voter’s ID Card / Aaadhar Card / Passport of Individual / Proprietor / Partners Bank passbook or latest account statement duly attested by Bank Officials / Domicile Certificate / Certificate issued by Govt. Authority / Local Panchayat / Municipality etc.</li>
     <li>Applicant’s recent Photograph (2 copies) not older than 6 months.</li>
     <li>Quotation of Machinery / other items to be purchased.</li>
     <li>Name of Supplier / details of machinery / price of machinery and / or items to be purchased.</li>
     <li>Proof of Identity / Address of the Business Enterprise – Copies of relevant Licences / Registration Certificates / Other Documents pertaining to the ownership, identity of address of business unit, if any</li>
     <li>Proof of category like SC / ST / OBC / Minority etc.</li>
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>