<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;">
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Education.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3><!DOCTYPE html>
        <html>
        <head>
            <title>Frontpage</title>
            <link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        </head>
        <body>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
            <div class="container">
        
              <!-- Brand -->
              <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
                GovtSchemes.in
              </a>
        
              <!-- Collapse -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <!-- Links -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <!--<span class="sr-only">(current)</span>-->
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Education">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Agriculture">Agriculture</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="Health">Health</a>
                    <span class="sr-only">(current)</span>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Social_welfare">Social Welfare</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Energy">Energy</a>
                  </li>
                </ul>
                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                  <li class="nav-item">
                    <a href="loginPage" class="btn btn-success btn-sm">
                      Login
                    </a>
                  </li>
                </ul>
        
              </div>
         </nav>
        
         <div class="container" id="card">
            <div class="card py-md-6 p-3">
            <div class="row" id="row1">
             <div class="col-5 col-sm-4 col-lg-3">
             <img src="Images/Education.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
             </div>
             <div class="col-7 col-sm-8 col-lg-9">
             <h3>Post Matric Scholarships to the Students Belonging to Scheduled Tribe</h3>
             <h5>Ministry of Tribal Affairs</h5>
             <p>Post Matric Scholarship scheme is a Centrally Sponsored Scheme and implemented
                through State Government and UT administration. The Scheme provides financial assistance to
                the Scheduled Caste students studying at post matriculation or post-secondary stage to enable
                them to complete their education.</p>
             </div>
            </div>
            <div class="row" id="row2">
            <h4>Benifits :</h4>
            <p>The benefit of the scheme is to award scholarships to meritorious students belonging to
                economically weaker sections of minority community so as to provide them better opportunities
                for higher education increase their rate of attainment in higher education and enhance their
                employability. Admission and tuition fee for undergraduate and postgraduate should be half of
                total fees.</p>
            </div>
            <div class="row" id="row2">
            <h4>Application Procedure :</h4>
            <ul>
             <li>Visit the homepage of the Mahadbtmahit.gov.in</li>
             <li>Create your login ID and password on the Aaple Sarkar DBT login
                portal.</li>
             <li>Apply the Secheme on your eligibility.</li>
             <li>Students only need to fill up a application form submit it.</li>
        
           </ul>  
            
            </div>
            <div class="row" id="row2">
            <h4>Documents Required :</h4>
            <ul>
             <li>Domicile Certificate.</li>
             <li>Student Photograph.</li>
             <li>Self Declaration of minority community certificate by the student.</li>
             <li>Self-attested copy of previous academic mark sheet.</li>
             <li>Fee receipt of current course year.</li>
             <li>Scanned copy of Aadhar Enrollment/Aadhar Card.</li>
             <li>Income certificate issued by designated state/UT authority.</li>
             <li>Proof of bank account in the name of the student or joint account with mother/father.</li>
             
           </ul>  
            
            </div>
            <div class="row" id="row3">
            <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
            </div>
        </div>
        </div>
        
        <footer class="page-footer font-small">
        
          <!-- Copyright -->
              <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
               <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
              </div>
          <!-- Copyright -->
        
               </footer>
        
            
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        </body>
        
        </html>