<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Energy.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Pradhan Mantri Ujjwala Yojana</h3>
     <h5>Ministry of Petroleum & Natural Gas </h5>
     <p>Pradhan Mantri Ujjwala Yojana (PMUY) was launched by Prime Minister of India Narendra Modi on 1 May 2016 to distribute 50 million LPG connections to women of BPL families. A budgetary allocation of ₹800 billion (US$11 billion) was made for the scheme. In the first year of
      its launch, the connections distributed were 22 million against the target of 15 million. As of 23 October 2017, 30 million connections were distributed, 44% of which were given to families belonging to scheduled castes and scheduled tribes. The number crossed 58 million by December 2018. In 2018 Union Budget of India, its scope was widened to include 80 million poor households.21,000 awareness camps were conducted by oil marketing companies (OMC). The scheme led to an increase in LPG consumption by 56% in 2019 as compared to 2014. However, while access to LPG gas stoves and cylinders has increased in the scheme, the use of LPG cylinders remains low.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>Under the scheme, five crore LPG connections are to be provided to BPL households. The Scheme provides a financial support of Rs 1600 for each LPG connection to the BPL households, interest free loan to purchase stove and refill by Oil Marketing Companies. The administrative cost of Rs. 1600 per connection, which includes a cylinder, pressure regulator, booklet, safety hose, etc. would be borne by the Government.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>A woman of the BPL household, may apply for a new LPG connection (in the prescribed format) to the nearest LPG distributor.</li>
     <li>While submitting the application form, the woman needs to submit detailed address, Jandhan Bank Account and Aadhar number of all members of the household.</li>
     <li>Required documents must also be attached with the application form.</li>
     <li>Individuals will also have to mention the type of cylinder that they require based on their necessities.</li>
     <li>This filled in form with documents will have to be submitted to the closest LPG outlet.</li>
     <li>The connection will be issued by the Oil Marketing Companies (OMCs) to the eligible beneficiaries after processing the application.</li>
     <li>In case the consumer opts for EMI, the EMI amount will be adjusted against the subsidy amount due to the consumer on each refill.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>An authorized BPL Certificate by Municipality Chairman or Panchayat Pradhan</li>
     <li>BPL Ration card</li>
     <li>Identity Proof with photo (Voter ID/Aadhaar Card)</li>
     <li>A passport size photograph that was taken recently</li>
     <li>Driving License</li>
     <li>Any utility bill</li>
     <li>Lease Agreement</li>
     <li>Copy of a passport</li>
     <li>Ration Card</li>
     <li>Possession letter or flat allotment</li>
     <li>Self declaration that has been attested by a Gazetted Officer</li>
     <li>House Registration Documents</li>
     <li>LIC policy</li>
     <li>Bank statement</li>

     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>