<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Energy.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Solar Energy Subsidy Scheme</h3>
     <h5>Ministry of New and Renewable Energy</h5>
     <p>The Government Yojana explains that a person is eligible for a subsidy if he has solar panels installed on the rooftop. The subsidy is decided as per the capacity of the solar power plant but the good part is that people are going ahead with solar panel installation. Another benefit is that people are able to cut down on their electricity bills and the load on thermal power plant will reduce increasing power generation.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>To achieve this target govt. is promoting solar power in many ways. Govt. of India also senctioned an amount of Rs.5,000 crore for solar subsidies only. solar energy is supply in the connected load that are connected to the public electricity grid through a service connection which exports surplus energy into the grid and shortfall being drawn from the grid.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>As a first step, it is important to choose the right manufacturer/supplier from whom you purchase the Solar PV system. The manufacturer/supplier should be a MNRE (Ministry of New and Renewable Energy) approved manufacturer/supplier.</li>
     <li>Only the models approved by MNRE are eligible to be covered under the scheme.</li>
     <li>Only individuals, group of individuals, Self Help Groups (SHGs), JLGs (Joint Liability Groups), Non Government Organizations (NGOs) and Farmer’s club are eligible for subsidy through NABARD. Private/Public Limited Companies are not eligible for this subsidy.</li>
     <li>To avail the subsidy, you need to have an account with a scheduled commercial bank or a regional rural bank. Most public nationalized banks can be approached for this.</li>
    <li>obtain the loan one has to submit the quotation and the documents available from the vendor. Vendor should provide the MNRE approval form, TIN number, project proposal, etc which needs to be submitted to the bank.</li>
    <li>After processing the loan and verifying all the documents, the banks provide loan and the documents are sent to NABARD for release of subsidy.</li>
    <li>The banks have the right to recall the subsidy in case they observe that the subsidy is misused.</li>
   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>MNRE approval form.</li>
     <li>project proposal.</li>
     <li>TIN number</li>
     <li>Bank passbook</li>
    </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>