<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Agriculture.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Soil Health Card Scheme</h3>
     <h5>Ministry of Agriculture and Farmers Welfare
    </h5>
     <p>Launched in 2015, the scheme has been introduced to assist State Governments to issue Soil Health Cards to all farmers in the country. The Soil Health Cards provide information to farmers on nutrient status of their soil alongwith recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility. The scheme has been introduced to assist State Governments to issue soil health cards to all farmers in the country.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>Soil health card provides information to farmers on nutrient status of their soil along with recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility.There are many benefits of having a Soil Health Card and the farmer needs to understand it:</p>
    <ul>
      <li>The soil health card scheme will properly examine the farmer’s soil and accordingly give them a formatted report so that he can decide upon which types of crops to be cultivated for more income.</li>
      <li>The appointed authorities will also monitor the soil on a regular basis and once in every 3 years will give a report to the farmers. Also the farmers will be regularly updated data about their soil.</li>
      <li>Under the scheme, the government will also employ professionals to help the farmers in adopting remedial measures.</li>
      <li>With the help of Soil Health Card Scheme, the farmers can plan the future of their crops as well as land.</li>
      <li>The best thing about the scheme is that goverment pays utmost attention that same individual conducts soil analysis for a farmer, further enhancing the effectiveness of the scheme.</li>
      <li>The SHC gives the farmers a clear idea of which nutrients is lacking in their soil. Thus, in which crops they should invest.</li>
    </ul> 
  </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>Visit the homepage of 164.100.78.93/soilhealth.</li>
     <li>Go through the login button and click on Register New User.</li>
     <li>Fill up the registration form by creating login ID and password.</li>
     <li>login at website and fill all the information</li>
     <li>Click on submit button and form will submitted to the higher authority for their approval.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>Identity proof e.g. Aadhar card.</li>
     <li>Residence proof e.g. electricity bill.</li>
     <li>7/12 of farm keep ready if need.</li>
     <li>Applicant's passport size photos if required.</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>