<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SchemeDetails</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/schemes.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" id="navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" style="font-family:helvetica;font-weight:bolder;" >
        GovtSchemes.in
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <!--<span class="sr-only">(current)</span>-->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Agriculture">Agriculture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health">Health</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Social_welfare">Social Welfare</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Energy">Energy</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="loginPage" class="btn btn-success btn-sm">
              Login
            </a>
          </li>
        </ul>

      </div>
 </nav>

 <div class="container" id="card">
    <div class="card py-md-6 p-3">
    <div class="row" id="row1">
     <div class="col-5 col-sm-4 col-lg-3">
     <img src="Images/Education.jpg" alt="Avatar" class="img-fluid" style="width:170px;height:170px">
     </div>
     <div class="col-7 col-sm-8 col-lg-9">
     <h3>Vidya Lakshmi portal for educational loan scheme</h3>
     <h5>Department of Higher Education</h5>
     <p>Lakshmi Portal provides a single window for students to access information and make application for Educational Loans provided by Banks. Students can view, apply and track the education loan applications to banks anytime, anywhere by accessing the portal. The portal also provides linkages to National Scholarship Portal. This portal has been developed under the guidance of Department of Financial Services, Department of Higher Education and Indian Banks Association.</p>
     </div>
    </div>
    <div class="row" id="row2">
    <h4>Benifits :</h4>
    <p>We will ensure that no student misses out on higher education for lack of funds. The IT based mechanism under the Pradhan Mantri Vidya Lakshmi Karyakram is expected to provide to students a single window electronic platform for Scholarships and Educational Loans.With a view to enable all poor and middle class students to pursue higher education of their choice without any constraint of funds.</p>
    </div>
    <div class="row" id="row2">
    <h4>Application Procedure :</h4>
    <ul>
     <li>The first step is to register on the Vidyalakshmi login portal by Creating your login ID and password.</li>
     <li>Fill up the Common Education Loan Application Form (CELAF) by providing all the necessary details.</li>
     <li>While filling out your details on the vidyalakshmi loan application portal, make sure to save your details at every step.</li>
     <li>After filling the form, the applicant can search for Educational Loan and APPLY as per his/her needs, eligibility and convenience.</li> 
     <li>Alternatively, the applicant can also search for Educational Loan after login and apply for the suitable Educational Loan by filling the CELAF.</li>

   </ul>  
    
    </div>
    <div class="row" id="row2">
    <h4>Documents Required :</h4>
    <ul>
     <li>KYC document</li>
     <li>Residence Proof</li>
     <li>Last qualification marksheet,Score card of degree or diploma</li>
     <li>Latest admission proof</li>
     <li>Basic qualifiaction reord such as HSC and SCC</li>
     <li>Bank statement</li>
     <li>Income Tax document</li>
     <li>Documents of ownership of asset</li>
     <li>Guarantee form</li>
     
   </ul>  
    
    </div>
    <div class="row" id="row3">
    <button type="button" class="btn btn-success">START FILLING APPLICATION FORM</button>
    </div>
</div>
</div>

<footer class="page-footer font-small">

  <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2020 Copyright:
       <a href="https://mdbootstrap.com/"> GovtSchemes.in</a>
      </div>
  <!-- Copyright -->

       </footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>